/nbproject/private/
/EasyProject-war/nbproject/private/
/EasyProject-ejb/nbproject/private/
/EasyProject-war/build/
/EasyProject-ejb/build/
/EasyProject-ejb/dist/
/dist/
/build/
/EasyProject-war/dist/