/nbproject/private/
/EasyProject-war/nbproject/private/
/EasyProject-ejb/nbproject/private/
/EasyProject-war/build/
/EasyProject-ejb/build/
/EasyProject-ejb/dist/
/dist/
/build/
/EasyProject-war/dist/
/EasyProject_RestFul/nbproject/private/
/EasyProject_RestFul/build/
/EasyProject_RestFul/dist/